@font-face {
    font-family: 'narrow';
    src: url('assets/ARIALNB.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    color: white;
    background-color: black;
    margin: 30px 20px;
}

#container {
    display: none;
    
}



* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer,
h2,
a,
table,
center,
p,
ol {
    font-family: 'narrow', helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: .04em;
    line-height: 1.15;
    font-weight: bold;
    font-kerning: auto;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    word-spacing: -1px;

}





table {
    text-align: left;
    width: 100%;
    margin: 0px 0px 30px;
    padding-bottom: 50px;
    word-spacing: .1em;
}


a,
.submit a {
    display: block;
    display: inline-block;

    border: 1px solid;
    padding: 16px 20px;
    border-radius: 0px;
    margin: -.5px;
    color: white;
    text-decoration: none;


}




a:hover,
th:hover {
    text-decoration: underline;
}

#links {
    margin: 20px 0px 100px;

}


h1 {
    font-size: 15vw;
    text-align: center;
    font-family: 'narrow', helvetica, sans-serif;
    line-height: .85;
    margin: 0 -.6vw;
    padding: 0;
    padding-bottom: 50px;
    letter-spacing: -.2vw;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    word-spacing: -1vw;
    margin-bottom: 30px;


}

td {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom: 6px;
    vertical-align: top;


}

td,
th {
    border-bottom: 1px solid #fff;
}

th {
    cursor: pointer;
}

.footer h1 {
    text-align: center;
    text-align-last: center;
}


.s {}

th {
    padding-bottom: 10px;
}




*:focus {
    outline-color: white;
}


nav {
    position: fixed;
    bottom: -200px;
    right: 0px;
    cursor: pointer;
    mix-blend-mode: exclusion;
    transition: .5s ease;
    margin-bottom: 10px

}

nav a {
    transition: .5s ease;
    font-size: 60px;
    cursor: pointer;
    border: none;
    padding: 0;
    margin-right: 2px;
}

nav a:hover {
    text-decoration: none;
    padding-bottom: 10px;
}

td {
    width: 30%;
}

.footer {
    margin-top: 100px;
    
}

p,
ol {
    display: inline-block;
    margin: 0px 80px 0px 0px;
    padding: 0;
    text-align: left;
    max-width: calc(50% - 100px);
    letter-spacing: .035em;

}

li {
    margin-bottom: 12px;
}


hr {
    margin: 20px 0px 60px;
}

hr {
    border: none;
    outline: none;
    border-top: 1px solid #fff;
}


#about p {
    vertical-align: top;
}

#about {
    margin: 0px 0px 40px;
}









@media only screen and (max-width: 900px) {
  body {
  }
    
    table, #about {
        margin-bottom: 10px;
        margin-top: 0;
    }
    
    .tableMobile {
        display: none;
    }
    
    
    
    td{
        width: 50%;
    }
    .footer {
        margin-top: 60px;
    }
    
p,
ol {
    max-width: 100%;
    margin: 0;
}
    
    ol {
        margin: 20px;
    }
    
.footer,
h2,
a,
table,
center,
p,
ol {
    font-size: 18px;
    letter-spacing: .04em;
    word-spacing: -1.5px;

}
    h1 {
        margin-bottom: 0;
    }
    
    #links {
    margin: 0px 0px 40px;

}
}